# Compiled static libraries
# *.a

**/bin/*
**/build/*
**/CMakeFiles/
**/data/
**/out/
**/Testing/

# CMake
**/*.cmake
**/CMakeCache.txt
**/compile_commands.json
**/Makefile

# Local
**/.cache
**/.editorconfig
**/vgcore*
